!!!
%html

  %head
    %title 
      = @title
      \-
      = application.name
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    = javascript_include_tag 'http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js'
    = javascript_include_tag 'application'
  
  %body
    .container
      = render '/shared/header'
      .row
        #main.span10
          %h1= @title
          = yield
        #sidebar.span5.offset1
          .well= render '/shared/sidebar'